/*font-family: 'Overpass', sans-serif;*/
/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Red Hat Display', sans-serif;*/

/*Geral*/

body {
  margin: 0;
}
.row {
  margin: 0;
}

/*navbar*/
header,
.navbar {
  background-color: #6a40bf;
}
#nav-container {
  padding-top: 0;
  padding-bottom: 0px;
}
#logo-img {
  padding: 0;
  margin-left: 10px;
  width: 350px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.navbar-brand {
  padding: 0;
}
.navbar-nav {
  margin-right: 40px;
  margin-top: 20px;
}
.fa-bars {
  color: #fd591e;
  font-size: 30px;
  border: 30px;
}
.navbar-nav a {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  font-family: "Overpass", sans-serif;;
}
.navbar-expand-lg .navbar-nav .navbar-link {
  padding: 1rem 0.8rem;
  margin: 50px;
}
.navbar-nav a:hover {
  color: #fd591e;
}
/*media nav*/

@media (max-width: 1200px) {
  #logo-img {
    width: 200px;
  }
  .navbar-dark {
    display: none;
  }
}
@media (max-width: 801px) {
  #logo-img {
    width: 150px;
  }
  .navbar-nav a {
    margin: 0;
    color: #ffffff;
  }
}

/*banner*/
.banner-one {
  background-color: #6a40bf;
  margin-top: 100px;
  text-align: center;
}
.img-banner-one {
  margin-top: 100px;
  width: 600px;
}
.img-banner-oneone {
  text-align: center;
}
.text-banner-one-text {
  /*text-align: center;*/
  margin-top: 20px;
  font-size: 50px;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}
.text-banner-one-text-destaque {
  color: #fd591e;
  text-decoration: underline;
}
.cta1 {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  margin-right: 20px;
  color: #ffffff;
}
.seta-banner {
  width: 20px;
}
.text-banner-one-text {
  text-align: center;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
}
.frase-destaque {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Media banner*/
@media (max-width: 801px) {
  .banner-one {
    background-color: #6a40bf;
    margin-top: 30px;
    text-align: center;
  }
  .seta-banner {
    display: none;
  }
}
@media (max-width: 600px) {
  .img-banner-one {
    margin-top: 100px;
    width: 450px;
  }
  .cta1 {
    display: none;
  }
}

@media (max-width: 480px){
    .img-banner-one {
        margin-top: 100px;
        width:350px;
      }
}
@media (max-width: 320px){
    .img-banner-one {
        width: 250px;
    }
}

/*cta one*/
.cta-one {
  margin-top: 100px;
  align-items: center;
  position: relative;
}
.cta-one-text-one {
  font-family: "Overpass", sans-serif;
  color: #6a40bf;
  font-size: 35px;
  font-weight: 700;
}
.img-cta-one {
  max-height: 200px;
  padding-top: 40px;
  padding-bottom: -70px;
 

  margin-left: 50%;
}
.cta-one-text-two {
    font-family: 'Red Hat Display', sans-serif;
  color: #6a40bf;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}
/*media cta*/
@media(max-width: 801px){
    .cta-one-text-one{
        padding-left: 50px;
    }
    .img-cta-one{
        transform: rotate(90deg);
        margin-left: -5px;
        margin-bottom: 0;
    }
    .cta-one-text-two{
        padding-left: 150px;
    }
}
@media(max-width: 600px){
    .cta-one-text-one{
        padding-left: 60px;
    }
    .cta-one-text-two{
        padding-left: 50px;
    }
}
@media(max-width: 400px){
    .img-cta-one{
        margin-left: -50px;
    }
    .cta-one-text-two{
        padding-left: 60px;
        font-size: 35px;
        font-weight: 500;
    }
}
@media(max-width: 320px){
    .cta-one-text-one{
        padding-left: 40px;
        font-size: 25px;
    }
    .img-cta-one{
        margin-left: -10px;
        
        }
    .cta-one-text-two{
        padding-left: 40px;
        font-size: 30px;
        font-weight: 500;
    }
}

/*call to act1*/
.product-area {
margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}
.main-title {
  color: #fd591e;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 40px;
}
.main-title1 {
    color: #fd591e;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
  }
.product-area p {
  color: #fd591e;
  font-size: 15px;
  font-family: 'Red Hat Display', sans-serif;
  margin-bottom: 20px;
}
.img-area {
  width: 20px;
  margin-bottom: 35px;
  margin-top: 20px;
}
.product-area-col {
  margin-top: 20px;
  margin: 30px;
 
}
.col-lg-4{
  padding: 20px 30px;
}
.product-area-img {
  margin-top: -400px;
  width: 400px;
  right: 100px;
  left: 80px;
  position: absolute;
  opacity: 0.2;
}
/*media cta*/
@media(max-width:1025px){
    .product-area-img{
        margin-left: -120px;
    }
    .product-area-col {
        margin-top: 20px;
        margin-left: 20px;
      }
    }
@media(max-width:801px){
    .product-area-img{
        width: 400px;
        margin: 0px 0px 0px 230px;
    }
}
@media(max-width:600px){
    .product-area-img{
        width: 400px;
        margin: 0px 0px 0px 70px;
    }
}
@media(max-width:480px){
    .product-area {
        margin-top: 100px;
          margin-right: 50px;
          margin-left: 50px;
        }
    .product-area-img{
      display: none;
    }
}
@media(max-width:320px){
    .product-area {
        margin-top: 100px;
          margin-right: 50px;
          margin-left: 50px;
        }
}
/*Img destaque*/
#img-equipe {
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}

/*img e equipe*/
@media(max-width:1025px){
    #img-equipe {
        margin-top: 0;
        padding-top: 0;
      }
}
/*Clientes*/
#clientes-area{
  background-color: #6a40bf;

}
.carousel-item{
  width: 20px;
  height: 20px;
  object-fit: fill;
  padding: 100px;
}







/*cases*/

.title-cases1 {
  margin-top: 100px;
  color: #6a40bf;
  text-transform: uppercase;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;

}
.text-cases {
  color: #6a40bf;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-top: 100px;
}
.img-cases{
    width: 10px;
}

.text-banner-two {
  /*text-align: center;*/
  margin-top: 200px;
  font-size: 10px;
  color: #6a40bf;
  font-family: "Overpass", sans-serif;
  padding: 0;
}

/*footer*/
#contact-area {
  background-color: #6a40bf;
}
.title-footer {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 50px;
}
.title-text-footer {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.text-footer {
  color: #ffffff;
  font-size: 20px;
}
.seta-footer {
  width: 40px;
}
.contact-box {
  border-right: 1px solid #fff;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#contact-area .fab {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
#contact-area p {
  color: #ffffff;
  padding-left: 40px;
  font-size: 10px;
  margin-top: 0px;
}
.copy-footer {
  margin-bottom: 0px;
}
#endereco {
  margin-top: 1px solid #ffffff;
}
